.container{
  width: 100%;
  min-height: 152px;
  padding: var(--spacing-3);
  cursor: pointer;
  background-color: var(--color-gray-light2);
}

.subtitle{
  margin-bottom: 2px;
}

.categoria{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 85px;
  height: 18px;
  padding: 0.7rem;
  border-radius: 1rem;
  color: var(--color-default-white);
  background-color: var(--color-blue-dark3);
}

.container:hover{
  background-color: var(--color-gray-light1);
}
