@if (!postCorrente){
  <p>Carregando...</p>
} @else {
  <article class="post-container flex flex-col gap-4">
    <header>
      <h1 class="h1">{{postCorrente.titulo}}</h1>

      <div class="flex flex-row justify-between">
        <div class="meta-data overline">
          <p>
            Criado em <time [attr.datetime]="postCorrente.dataCriacao">{{postCorrente.dataCriacao | date:'dd/MM/yyyy'}}</time>
          </p>
          <p>
            Atualizado em <time [attr.datetime]="postCorrente.dataAtualizacao">{{postCorrente.dataAtualizacao | date:'dd/MM/yyyy'}}</time>
          </p>
        </div>
          <div class="flex flex-row gap-2" role="toolbar" aria-label="Ações do post">
            <button type="button" class= "flex flex-row gap-2 !px-2 py-0.5 rounded-2xl justify-center items-center botao-editar">
              <div class="w-5 h-5 pencilIcon"
                   style="-webkit-mask-image: url('/svg/editPencil.svg'); mask-image: url('/svg/editPencil.svg'); mask-repeat: no-repeat; mask-position: center;">
              </div>
              Editar
            </button>
            <button (click)="iniciarExclusaoPost(postCorrente)" type="button" class="flex flex-row gap-2 !px-2 py-0.5 rounded-2xl justify-center items-center botao-excluir">
              <div class="w-5 h-5 trashIcon"
                   style="-webkit-mask-image: url('/svg/trash.svg'); mask-image: url('/svg/trash.svg'); mask-repeat: no-repeat; mask-position: center;">
              </div>
              Excluir
            </button>
          </div>
      </div>
    </header>


    <ul class="lista-categorias" aria-label="Categorias" class="flex flex-row gap-2">
      @for (categoria of postCorrente.categorias; track $index){
        <li>
          <span class="categoria disclaimer"  [style.background-color]="categoria.cor || '#00684A'">{{categoria.nome}}</span>
        </li>
      }
    </ul>

    <section class="wrap-break-word">
      {{postCorrente.conteudo}}
    </section>

    <footer class="post-stats flex flex-row gap-4">
      <div title="Visualizações" class="flex flex-row gap-1">
        <img src="svg/contadorVisualizacao.svg" alt="Ícone de olho" />
        <span class="body-1">{{postCorrente.visualizacoes || 0}} visualizações</span>
      </div>
      <div title="Comentários" class="flex flex-row gap-1">
        <img src="svg/contadorComentario.svg" alt="Ícone de balão de fala" />
        <span class="body-1">{{postCorrente.numeroComentarios || 0}} comentários</span>
      </div>
    </footer>

    <button type="button" class="flex items-center justify-center gap-2 !px-4 !py-2 rounded-full font-medium shadow-sm w-1/2 overline">
      Adicionar comentário
    </button>

    @if(comentarios.length > 0){
      <section id="comentarios" aria-labelledby="titulo-comentarios" class="flex flex-col gap-2">
        @for (comentario of comentarios; track $index) {
          <app-comentario (editar)="iniciarEdicao(comentario)" (excluir)="iniciarExclusao(comentario)"  [comentario]="comentario"></app-comentario>
        }
      </section>
    } @else {
      <div class="flex flex-col items-center justify-center py-10 bg-gray-50 rounded-lg border-2 border-dashed border-gray-200 text-center">
        <div class="w-12 h-12 bg-gray-300 mb-2"
             style="-webkit-mask-image: url('/svg/comentario.svg'); mask-image: url('/svg/comentario.svg'); mask-repeat: no-repeat; mask-position: center;">
        </div>
        <p class="text-gray-600 font-medium text-lg">Ainda não há comentários.</p>
        <p class="text-gray-400 text-sm">Seja a primeira pessoa a compartilhar sua opinião sobre este post!</p>
      </div>
    }

  </article>

}

@if (comentarioParaExcluir) {
  <app-confirm-modal
    titulo="Confirmar Exclusão"
    mensagem="A exclusão desse comentário não poderá ser desfeita."
    (cancelar)="comentarioParaExcluir = null"
    (confirmar)="deletarComentario()">
  </app-confirm-modal>
}

@if (comentarioParaEditar) {
  <app-modal-wraper titulo="Editar Comentário" (fechar)="comentarioParaEditar = null">

    <form (submit)="salvarEdicao()" class="flex flex-col gap-4">

        <div class="grid grid-cols-2 gap-4 mb-4">
          <div>
            <label class="font-bold text-sm">Autor</label>
            <input [value]="comentarioParaEditar.autor" disabled class="w-full bg-yellow-100/50 !p-2 rounded border border-yellow-200">
          </div>
          <div>
            <label class="font-bold text-sm">Usuário</label>
            <input [value]="comentarioParaEditar.usuario" disabled class="w-full bg-yellow-100/50 !p-2 rounded border border-yellow-200">
          </div>
        </div>

        <div>
          <label class="font-bold text-sm">Conteúdo</label>
          <textarea [(ngModel)]="comentarioParaEditar.conteudo" name="conteudo"
                    class="w-full bg-yellow-100/50 !p-2 rounded border border-yellow-200 h-24"></textarea>
        </div>

      <div class="flex justify-end gap-3 !pt-4 mt-2">
        <button type="button" (click)="comentarioParaEditar = null" class="bg-red-600 text-white !px-6 !py-2 rounded-lg font-bold">
          Cancelar
        </button>
        <button type="submit" class="bg-blue-600 text-white !px-6 !py-2 rounded-lg font-bold">
          Salvar
        </button>
      </div>

    </form>

  </app-modal-wraper>
}

@if (postParaExcluir){
  <app-confirm-modal
    titulo="Confirmar Exclusão"
    mensagem="A exclusão desse post não poderá ser desfeita."
    (cancelar)="postParaExcluir = null"
    (confirmar)="deletarPost()">
  </app-confirm-modal>
}
