.pencilIcon {
  background-color: var(--color-blue-base);
  width: 30px;
  height: 22px;
}
.trashIcon {
  background-color: var(--color-red-base);
  width: 30px;
  height: 22px;
}

.dataPublicacao{
  color: var(--color-gray-base);
}

.comentario{
  border: 0.4px solid var(--color-gray-dark1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.comentario:hover{
  background-color: var(--color-gray-light2);
}
